<!DOCTYPE html><!-- success.ejs -->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン完了</title>
</head>
<body>
    <h1>ログイン完了！</h1>
    <p>ユーザー名: <%= adminname %></p>
    <p>パスワード: <%= password %></p>

    <a href="login.html"><button>ログイン画面に戻る</button></a>
</body>
</html>
