/* 基本設定 */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

main {
    padding-bottom: 50px;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ededed;
    padding: 10px 20px;
    border-bottom: 2px solid #ffffff;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70px;
}

#logout {
    font-size: 0.5em;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

header p {
    font-size: 0.5em;
    margin-right: 50px;
}

li {
    list-style: none;
    margin-left: 220px;
    margin-bottom: 50px;
}

ul {
    padding-left: 0;
}

/* メイン */

main {
    flex-grow: 1;
    margin-top: 70px;
}

/* サイドバー */
.sideber {
    position: fixed;
    left: 0;
    width: 200px;
    height: calc(100vh - 70px);
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #333;
}

/* サイドバー内のコンテンツ */
.sideber-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
}

/* その他のスタイル */
/* サイドバー内のリンクの基本スタイル */
.sideber-container a {
    width: 80%;
    /* text-align: center; */
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid #333;

}

.sideber-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
}

.sideber-container a:hover {
    background-color: #ededed;
    border-color: transparent;
}

.sideber-container a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(82.3deg, rgb(110, 255, 183) 10.8%, rgb(0, 80, 172) 94.3%);
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* リンク内のボタンのスタイルも変更 */
.sideber-container a:hover button {
    color: #000;
}

/* メインコンテンツ */
.container {
    margin-top: 50px;
    /* ヘッダーの高さを考慮 */
    margin-left: 220px;
    /* サイドバーの幅を考慮 */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列 */
    gap: 15px;
}

.container a {
    padding: 20px 20px 20px 20px;
    border: 1px solid;
    border-color: #333;
}

/* フッター */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 0 -100px;
    text-align: center;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* ボタン */
.container button {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    color: #333;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #ededed;
}