#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../backgroundimage/siro.jpg");
    /* 背景画像を設定 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    /* 他のコンテンツの後ろに配置 */
    opacity: 1;
    /* 透明度を1にして表示 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.confirmation-container {
    text-align: center;
}

.confirmation {
    display: flex;
    flex-direction: column;
    /* 縦方向に配置 */
    align-items: center;
    justify-content: center;
}

.confirm-button {
    width: 80%;
    padding: 0.8em 1em;
    padding-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 30%;
    margin-bottom: 10px;
    background: #0063d4;
    /*背景色*/
    color: #ffffff;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    text-shadow: -1px -1px rgba(249, 1, 1, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.back-button {
    margin-top: 10px;
    transition: transform .2s;
}

.content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(237, 237, 237, 0.7);
}