/* 基本設定 */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}



/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(237, 237, 237, 0.7);
    padding: 10px 20px;
    border-bottom: 0.5px solid #ccc;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 90px;
}

#header-video {
    width: 90px;
    /* 動画の幅（調整可） */
    height: 90px;
    /* 動画の高さ（調整可） */
    object-fit: cover;
    /* アスペクト比を維持 */
    border-radius: 50%;
    /* 丸くする場合 */
    margin-right: 15px;
    /* タイトルとの間隔 */
}


header h1 {
    margin: 0;
    font-size: 1.5em;
    margin-left: 2%;
}

header a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

header p {
    font-size: 0.9em;
    margin-right: 50px;
}

header li {
    list-style: none;
}

header ul {
    margin-right: 2%;
}

.headerinfo {
    margin-right: 100px;
}

.username {
    font-size: 1em;
    color: #000000;
}

.content {
    padding-bottom: 100px;
}

/* メイン */

main {
    flex-grow: 1;
}


registration-container-box {
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.registration-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.registration-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
}

.registration-container input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.confirmation-url {
    padding: 10px;
    font-size: 1em;
    background-color: #d0e2ff;
    color: #333;
    border: 1px solid #a0b6d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.confirmation-url:hover {
    background-color: #a0c0ff;
}

#checkboxlabel {
    margin: 0;
    white-space: nowrap;
    /* テキストを折り返さない */
}

.back-button {
    margin-top: 1em;
    text-align: center;
    /* ボタンを中央揃え */
}


/* ログインフォーム */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.login-screen {
    width: 300px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-group {
    margin-bottom: 15px;
    width: 100%;
}

.new {
    padding-top: 20px;
}



.login-field::placeholder {
    color: #666;
}

#login-form label {
    display: block;
    text-align: left;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
}

.btn {
    padding: 10px;
    font-size: 1em;
    background-color: #d0e2ff;
    color: #333;
    border: 1px solid #a0b6d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn:hover {
    background-color: #a0c0ff;
}

#show-password {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 20px;
    margin-bottom: 0px;
}

#error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

/* 登録確認 */
.confirmation-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.confirmation h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

#confirm-register:hover {
    background-color: #a0c0ff;
}

#confirm-register {
    padding: 10px;
    font-size: 1em;
    background-color: #d0e2ff;
    color: #333;
    border: 1px solid #a0b6d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

/* ログイン完了 */
.complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* ログアウト */
.logout-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.logout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ededed;
    text-align: center;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.btn--orange,
.logout-container a.btn--orange {
    color: #fff;
    background-color: #74ccff;
}

.logout-container.btn--orange:hover,
a.btn--orange:hover {
    color: #fff;
    background: #74ccff;
}