#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../backgroundimage/siro.jpg");
    /* 背景画像を設定 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    /* 他のコンテンツの後ろに配置 */
    opacity: 1;
    /* 透明度を1にして表示 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.content {
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(237, 237, 237, 0.7);
}

.app-title h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* 入力フィールド */
.control-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.confirm-button {
    padding: 0.8em 1em;
    padding-bottom: 0.5em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    background: #0063d4;
    /*背景色*/
    color: #ffffff;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    text-shadow: -1px -1px rgba(249, 1, 1, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

#confirmation-url {
    margin-top: 10px;
    font-size: 18px;
}

.form-group {
    margin: 5px;
}

#show-password {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 横方向の中央揃え */
    gap: 5px;
    font-size: 0.9em;
    /* 上部の余白を調整 */
    width: 100%;
    /* フォーム幅に合わせる */
}

.back-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.registration-container {
    margin-left: 10%;
    margin-right: 10%;
}

#languagename {
    margin-left: 10px;
}