/* 基本スタイル */
body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
   
    color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    padding-top: 500px;
}
header h1{
    padding-bottom: 130px;
}


.registration-container {
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
}

.app-title h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #333;
    margin-top: 20px;
}

/* スマホ用のスタイル */
@media (max-width: 768px) {
    .registration-container {
        width: 90%;
        margin: 10px auto;
    }

    header, footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    button {
        padding: 8px 10px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="password"],
    select {
        padding: 6px;
    }
}
