/* 共通スタイル */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    flex-direction: column;
}

/* langeage.html */
.button-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container1 button {
    height: 26px;
}

.row {
    display: flex;
    /* 横並びにする */
    justify-content: center;
    /* ボタンを中央寄せ */
    gap: 10px;
    /* ボタン間の間隔 */
    margin: 10px 0;
}

.japanese {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}

.english {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}

.korea {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}

.china {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}

/* selectaccount.html */
/* .login-url {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}

.newaccount-url {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}

.guest-url {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
} */

.row button {
    transition: transform .2s;

    &:active {
        transform: scale(.95);
    }
}