* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: flex-start;
    /* 左寄せ */
    align-items: center;
    padding: 5px 30px;
    background-color: #ededed;
    color: #333;
    border-bottom: 2px solid black;
    /* ヘッダー下に黒線 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    gap: 20px;
    /* 各要素間の余白 */
}

.header h1 {
    margin: 0;
    font-size: 2.0em;
    text-align: left;
}

.header separator {
    width: 10px;
    /* 縦棒の太さ */
    height: 40%;
    /* 縦棒の高さ（要調整） */
    background-color: black;
    /* 縦棒の色 */
    margin: 0 10px;
    /* 縦棒の左右余白 */
}

.header span {
    font-size: 1.5em;
}


.right-info {
    margin-left: auto;
    /* 右端に配置 */
    display: flex;
    flex-direction: column;
    /* 縦方向に並べる */
    align-items: flex-end;
    /* 右寄せ */
    gap: 5px;
    /* IDとログアウト間の余白 */
}

.user-id {
    font-size: 0.9em;
    /* IDの文字サイズ */
}

.right-info span {
    font-size: 1em;
}

.logout {
    color: blue;
    text-decoration: none;
    font-size: 1em;
}



.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-weight: bold;
    font-size: 1.0em;
}

.system-name {
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    color: blue;
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 100px;
}

.content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.0em;
    margin-bottom: 20px;
}

.back-link {
    color: blue;
    font-size: 1.0em;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 0 -100px;
    text-align: center;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}