/* 基本設定 */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* main {
    padding-bottom: 50px;
} */

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ededed;
    padding: 10px 20px;
    border-bottom: 2px solid #ffffff;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 70px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

header p {
    font-size: 0.5em;
    margin-right: 50px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

/* メイン */

main {
    flex-grow: 1;
}

/* 新規登録フォーム */
.newadmin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

registration-container-box {
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.registration-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
}

.registration-container input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.confirmation-url {
    padding: 10px;
    font-size: 1em;
    background-color: #d0e2ff;
    color: #333;
    border: 1px solid #a0b6d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.confirmation-url:hover {
    background-color: #a0c0ff;
}

#checkboxlabel {
    margin: 0;
    white-space: nowrap;
    /* テキストを折り返さない */
}

.back-button {
    margin-top: 1em;
    text-align: center;
    /* ボタンを中央揃え */
}


/* ログインフォーム */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.login-screen {
    width: 300px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-title h1 {
    font-size: 1.5em;
    margin: 0 0 20px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-group {
    margin-bottom: 15px;
    width: 100%;
}

.new {
    padding-top: 20px;
}


.login-field {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 5px;
}

.login-field::placeholder {
    color: #666;
}

#login-form label {
    display: block;
    text-align: left;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
}

.btn {
    padding: 10px;
    font-size: 1em;
    background-color: #d0e2ff;
    color: #333;
    border: 1px solid #a0b6d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn:hover {
    background-color: #a0c0ff;
}

#show-password {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 20px;
    margin-bottom: 0px;
}

#error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

/* 登録確認 */
.confirmation-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.confirmation h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

#confirm-register:hover {
    background-color: #a0c0ff;
}

#confirm-register {
    padding: 10px;
    font-size: 1em;
    background-color: #d0e2ff;
    color: #333;
    border: 1px solid #a0b6d0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

/* ログイン完了 */
.complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* ログアウト */
.logout-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.logout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}