<header>
    <h1><a href="/menu">管理者システム</a></h1>
    <ul>
        <li>
            <p id="admin-name-display">ユーザー名：<%= adminname %></p>
        </li>
        <li><a href="AR_login/logout.html">ログアウト</a></li>
    </ul>
</header>