<div class="sideber">
    <div class="sideber-container">
        <a href="/menu"><button>システムメニュー</button></a>
        <div class="container">
            <a href="/user"><button>ユーザー情報</button></a>
            <a href="/marker"><button>マーカー情報</button></a>
            <a href="/modellist"><button>3Dモデル</button></a>
            <a href="/napisy/add/confirmation"><button>字幕管理</button></a>
            <a href="/sound"><button>音声管理</button></a>
            <a href="/map"><button>マップ管理</button></a>
            <a href="/language"><button>言語管理</button></a>
        </div>
    </div>
</div>
